<div class="section" id="recent-projects" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Popular Categories</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Science Fiction Book Reviews</h3>
                        <small class="text-muted" onclick="@("window.location.href='" + @Url.Action("CategoryScienceFiction", "Home") + "'")">
                            Click to the image to read the reviews of Science Fiction books.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_1.png" alt="book_archive 1">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
						<h3>Guide Book Reviews</h3>
						<small class="text-muted">
							Click to the image to read the reviews of Guide books.
						</small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_2.png" alt="book_archive 2" onclick="@("window.location.href='" + @Url.Action("CategoryGuide", "Home") + "'")">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
						<h3>Diary Book Reviews</h3>
						<small class="text-muted">
							Click to the image to read the reviews of Diary books.
						</small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_3.png" alt="book_archive 3" onclick="@("window.location.href='" + @Url.Action("CategoryDiaries", "Home") + "'")">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
						<h3>Journal Book Reviews</h3>
						<small class="text-muted">
							Click to the image to read the reviews of Journal books.
						</small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_4.png" alt="book_archive 4" onclick="@("window.location.href='" + @Url.Action("CategoryJournals", "Home") + "'")">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
						<h3>Drama Book Reviews</h3>
						<small class="text-muted">
							Click to the image to read the reviews of Drama books.
						</small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_5.png" alt="book_archive 5" onclick="@("window.location.href='" + @Url.Action("CategoryDrama", "Home") + "'")">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
						<h3>Art Book Reviews</h3>
						<small class="text-muted">
							Click to the image to read the reviews of Art books.
						</small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_6.png" alt="book_archive 6" onclick="@("window.location.href='" + @Url.Action("CategoryArt", "Home") + "'")">
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.section -->
