@model IEnumerable<BookPortal.Models.ReviewsDB>

@{
    ViewBag.Title = "NewestBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <h2>NewestBook</h2>

    @*<hr />
        <div class="alert alert-success" role="alert">
            <strong>
                Number of Reviews: @Model.NumberOfReview
            </strong>
        </div>*@

    <hr />


    <div class="col-md-3">

    </div>

    <div class="col-md-9">

        @foreach (var item in Model)
        {

            <div class="reviews_content">
                <div class="col-md-8 col-sm-8">
                    <div class="post">
                        <h2 class="post-title"><a href="blog-post.html">@item.BookName</a></h2>
                        <p class="post-meta">
                            <i class="fa fa-calendar-o first"></i> @item.UploadDate
                            <i class="fa fa-user"></i> @item.AuthorName
                            <i class="fa fa-comment"></i> <a href="#">@item.ReviewId</a>
                        </p>
                        <a href="blog-post.html" class="img-post">
                            <img src="~/img/post2.png" alt="post 2" class="img-responsive">
                        </a>
                        <p>

                            @if (@item.Content.Length > 100)
                            {
                                @(item.Content.Substring(0, 95) + "...")
                            }
                            else
                            {
                                @item.Content

                            }

                        </p>
                        <a class="btn btn-primary" href="~/Views/Content/@item.BookName">Read More <i class="fa fa-angle-right"></i></a>
                    </div><!-- /.post -->
                </div>
            </div>

        }
    </div>
</div>

