
@model IEnumerable<DataLibrary.ModelsD.ReviewModel>
@*@model IEnumerable<BookPortal.Models.Review>*@
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>View Reviews</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Category)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BookName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ReviewType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BookSubject)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BookAnalysis)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AuthorName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OtherBooks)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<p> @item.AuthorName</p>
		<p>@item.BookName</p>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Category)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BookName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ReviewType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BookSubject)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BookAnalysis)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AuthorName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OtherBooks)
			</td>
		</tr>
	}											   

</table>
												   


												   